.DS_Store
builds/
openings.epd
grand_master_openings.epd
out.pgn
traindata*.epd
venv/
quiet_traindata.epd
quiet_traindata_features.csv
spsa_state.json
spsa_state_test.json
zerog_prev
spsa_state.json
nn_weights.bin

# Test coverage files
*.gcov
*.gcno
*.gcda
*.profraw
*.profdata

games/
final_training_positions.epd
